In [118]:
import pandas as pd
import numpy as np

df=pd.read_csv(r"C:\Product Analysis Project\WA_Fn-UseC_-Telco-Customer-Churn.csv")
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [119]:
df.shape
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [120]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [121]:
df.duplicated().sum()

np.int64(0)

In [122]:
df['TotalCharges'] = df['TotalCharges'].replace(" ", np.nan)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df = df.dropna().copy()

In [123]:
binary_cols = [
    "Partner","Dependents","PhoneService",
    "PaperlessBilling","Churn"
]

for col in binary_cols:
    df[col] = df[col].map({"No":0, "Yes":1})

In [124]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,No,...,No,No,No,No,Month-to-month,1,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,0,Mailed check,56.95,1889.50,0
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,Yes,...,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,0,0,0,45,0,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,0,0,0,2,1,No,Fiber optic,No,...,No,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,1,Mailed check,84.80,1990.50,0
7039,2234-XADUH,Female,0,1,1,72,1,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,1,Credit card (automatic),103.20,7362.90,0
7040,4801-JZAZL,Female,0,1,1,11,0,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,1,Electronic check,29.60,346.45,0
7041,8361-LTMKD,Male,1,1,0,4,1,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,1,Mailed check,74.40,306.60,1
7042,3186-AJIEK,Male,0,0,0,66,1,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,1,Bank transfer (automatic),105.65,6844.50,0

## Feature Engineering

**Tenure Groups (Lifecycle Segmentation)**

In [125]:

def tenure_group(x):
    if x <= 6:
        return "0-6 Months"
    elif x <= 24:
        return "6-24 Months"
    else:
        return "24+ Months"

df['TenureGroup'] = df['tenure'].apply(tenure_group)

**Revenue Buckets (Value Segmentation)**

In [126]:
def revenue_bucket(x):
    if x <= 50:
        return "Low"
    elif x <= 80:
        return "Medium"
    else:
        return "High"

df['RevenueBucket'] = df['MonthlyCharges'].apply(revenue_bucket)
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,TenureGroup,RevenueBucket
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,No,...,No,No,Month-to-month,1,Electronic check,29.85,29.85,0,0-6 Months,Low
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,Yes,...,No,No,One year,0,Mailed check,56.95,1889.50,0,24+ Months,Medium
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,Yes,...,No,No,Month-to-month,1,Mailed check,53.85,108.15,1,0-6 Months,Medium
3,7795-CFOCW,Male,0,0,0,45,0,No phone service,DSL,Yes,...,No,No,One year,0,Bank transfer (automatic),42.30,1840.75,0,24+ Months,Low
4,9237-HQITU,Female,0,0,0,2,1,No,Fiber optic,No,...,No,No,Month-to-month,1,Electronic check,70.70,151.65,1,0-6 Months,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,Yes,DSL,Yes,...,Yes,Yes,One year,1,Mailed check,84.80,1990.50,0,6-24 Months,High
7039,2234-XADUH,Female,0,1,1,72,1,Yes,Fiber optic,No,...,Yes,Yes,One year,1,Credit card (automatic),103.20,7362.90,0,24+ Months,High
7040,4801-JZAZL,Female,0,1,1,11,0,No phone service,DSL,Yes,...,No,No,Month-to-month,1,Electronic check,29.60,346.45,0,6-24 Months,Low
7041,8361-LTMKD,Male,1,1,0,4,1,Yes,Fiber optic,No,...,No,No,Month-to-month,1,Mailed check,74.40,306.60,1,0-6 Months,Medium
7042,3186-AJIEK,Male,0,0,0,66,1,No,Fiber optic,Yes,...,Yes,Yes,Two year,1,Bank transfer (automatic),105.65,6844.50,0,24+ Months,High

**Contract Flag**

In [127]:
df['IsMonthly'] = df['Contract'].apply(
    lambda x: 1 if x == "Month-to-month" else 0
)

In [128]:
print("Final Shape:", df.shape)
df.info()
df.isnull().sum()

Final Shape: (7032, 24)
<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   int64
 4   Dependents        7032 non-null   int64
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   int64
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   int64
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   int64
 21  TenureGroup       7032 non-null   object
 22  RevenueBucket     7032 non-null   object
 23  IsMonthly         7032 non-null   int64
dtypes: float64(2), int64(8), object(14)
memory usage: 1.3+ MB

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
TenureGroup         0
RevenueBucket       0
IsMonthly           0
dtype: int64

In [129]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
TenureGroup          object
RevenueBucket        object
IsMonthly             int64
dtype: object

## Section 2 – Churn Analysis

**Overall Churn Rate**

In [130]:
churn_rate = df['Churn'].mean()
churn_rate

np.float64(0.26578498293515357)

**Total MRR**

In [131]:
mrr = df['MonthlyCharges'].sum()
mrr
#MRR is the total predictable subscription revenue generated every month.

np.float64(455661.0)

**Revenue Lost Due to Churn**

In [132]:
revenue_lost = df[df['Churn'] == 1]['MonthlyCharges'].sum()
revenue_lost

np.float64(139130.85)

**Churn by Contract Type**

In [133]:
df.groupby('Contract')['Churn'].mean().sort_values(ascending=False)
#Are month-to-month users driving churn?

Contract
Month-to-month    0.427097
One year          0.112772
Two year          0.028487
Name: Churn, dtype: float64

**Churn by TenureGroup**

In [134]:
df.groupby('TenureGroup')['Churn'].mean()
#Are early-stage users churning more?

TenureGroup
0-6 Months     0.533333
24+ Months     0.140360
6-24 Months    0.316368
Name: Churn, dtype: float64

**Churn by RevenueBucket**

In [135]:
df.groupby('RevenueBucket')['Churn'].mean()
#Is high-value churn financially risky?

RevenueBucket
High      0.339962
Low       0.157436
Medium    0.290260
Name: Churn, dtype: float64

**Identify High-Risk Segment**

In [136]:
#Combine features
df.groupby(['TenureGroup','Contract'])['Churn'].mean()

TenureGroup  Contract
0-6 Months   Month-to-month    0.552017
             One year          0.105263
             Two year          0.000000
24+ Months   Month-to-month    0.308566
             One year          0.118924
             Two year          0.031230
6-24 Months  Month-to-month    0.396055
             One year          0.088652
             Two year          0.000000
Name: Churn, dtype: float64

## Section 3 – Revenue Impact

**Calculate Total MRR**

In [137]:
mrr = df['MonthlyCharges'].sum()
mrr
#total monthly recurring revenue.

np.float64(455661.0)

**Revenue Lost Due to Churn**

In [138]:
revenue_lost = df[df['Churn'] == 1]['MonthlyCharges'].sum()
revenue_lost
#how much recurring revenue you lose every month.

np.float64(139130.85)

**Annual Revenue Loss**

In [139]:
annual_revenue_lost = revenue_lost * 12
annual_revenue_lost
#The company is losing approximately $X annually due to churn.

np.float64(1669570.2000000002)

**Revenue Lost by Segment**

In [140]:
#Revenue loss by Contract

df[df['Churn'] == 1].groupby('Contract')['MonthlyCharges'].sum()

#Revenue loss by TenureGroup

df[df['Churn'] == 1].groupby('TenureGroup')['MonthlyCharges'].sum()

#Which segment causes the biggest financial damage

TenureGroup
0-6 Months     49896.10
24+ Months     47094.95
6-24 Months    42139.80
Name: MonthlyCharges, dtype: float64

**5% Churn Reduction Scenario**

In [141]:
#If churn reduces by 5%, calculate:

customers_saved = len(df) * 0.05
avg_revenue = df['MonthlyCharges'].mean()

monthly_gain = customers_saved * avg_revenue
annual_gain = monthly_gain * 12

#A 5% churn reduction could generate approximately $X additional annual recurring revenue.

In [142]:
import re

def clean_column(name):
    # Add underscore between lower and upper case letters
    name = re.sub(r'([a-z0-9])([A-Z])', r'\1_\2', name)
    
    # Convert to title case (first letter capital for each word)
    name = name.title()
    
    return name

df.columns = [clean_column(col) for col in df.columns]

In [145]:
df = df.drop(columns=['Customer_Id'])

In [146]:
df.to_csv("C:\Product Analysis Project\cleaned_product_analysis.csv")

In [147]:
df

,Gender,Senior_Citizen,Partner,Dependents,Tenure,Phone_Service,Multiple_Lines,Internet_Service,Online_Security,Online_Backup,...,Streaming_Movies,Contract,Paperless_Billing,Payment_Method,Monthly_Charges,Total_Charges,Churn,Tenure_Group,Revenue_Bucket,Is_Monthly
0,Female,0,1,0,1,0,No phone service,DSL,No,Yes,...,No,Month-to-month,1,Electronic check,29.85,29.85,0,0-6 Months,Low,1
1,Male,0,0,0,34,1,No,DSL,Yes,No,...,No,One year,0,Mailed check,56.95,1889.50,0,24+ Months,Medium,0
2,Male,0,0,0,2,1,No,DSL,Yes,Yes,...,No,Month-to-month,1,Mailed check,53.85,108.15,1,0-6 Months,Medium,1
3,Male,0,0,0,45,0,No phone service,DSL,Yes,No,...,No,One year,0,Bank transfer (automatic),42.30,1840.75,0,24+ Months,Low,0
4,Female,0,0,0,2,1,No,Fiber optic,No,No,...,No,Month-to-month,1,Electronic check,70.70,151.65,1,0-6 Months,Medium,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,24,1,Yes,DSL,Yes,No,...,Yes,One year,1,Mailed check,84.80,1990.50,0,6-24 Months,High,0
7039,Female,0,1,1,72,1,Yes,Fiber optic,No,Yes,...,Yes,One year,1,Credit card (automatic),103.20,7362.90,0,24+ Months,High,0
7040,Female,0,1,1,11,0,No phone service,DSL,Yes,No,...,No,Month-to-month,1,Electronic check,29.60,346.45,0,6-24 Months,Low,1
7041,Male,1,1,0,4,1,Yes,Fiber optic,No,No,...,No,Month-to-month,1,Mailed check,74.40,306.60,1,0-6 Months,Medium,1
7042,Male,0,0,0,66,1,No,Fiber optic,Yes,No,...,Yes,Two year,1,Bank transfer (automatic),105.65,6844.50,0,24+ Months,High,0